/*

 --- HELP FOR ITALY ---

*/

// Variables
// ----------------------------- Fonts
$mainfamily: 'Roboto Slab', serif;
$specialfamily: serif;

$fontnormal: 400;
$fontbold: 900;

$font-size: 1.7rem;
$line-height: 2.8rem;
$base-line-height: 2.8rem;

$grid-gutter-width: 3rem;


// ----------------------------- Breakpoints (BS4)
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1440px;


// ----------------------------- Colors
$white: #ffffff;
$black: #000000;

$brand-primary: #cd2a38;
$brand-secondary: #129248;

$bgcolor: #ffffff;
$textcolor: $black;
$linkcolor: $brand-primary;
$titlecolor: $black;

$gray200: #f7f7f7;
$gray175: #cdcdcd;
$gray150: #8d9ca1;
$gray125: #6d7777;
$gray50: #2d4048;

// Transitions
$easeOutBack: #{cubic-bezier(0.175, 0.885, 0.32, 1.275)};
$easeOutQuart: #{cubic-bezier(0.165, 0.84, 0.44, 1)};

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@media (min-width: $bp-md) {
		font-size: 75%;
	}
}

body,
input,
textarea,
select {
	font-size: $font-size;
	line-height: $line-height;
	color: $textcolor;

	@media only screen and (min-width: $bp-lg) {
		background-color: transparent;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQYV2NkQANnz579z4gsBhIwNjZmhAvCBECKwILIAmBBdAGQIADd3RNsfP2ELAAAAABJRU5ErkJggg==);
		background-repeat: repeat;
	}
}

body {
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
	font-family: $mainfamily;
	font-weight: 400;
	position: relative;
	padding: ($base-line-height) ($grid-gutter-width);
}

a {
	color: $brand-primary;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
		color: darken($brand-primary, 10%);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	line-height: $line-height;
}

ul {
	li {
		margin-bottom: ($base-line-height / 2);
	}
}

// Wrapper
.wrapper {
	background-color: #fff;
	margin: auto;

	@media (min-width: $bp-lg) {
		width: 80vw;
		padding: ($base-line-height) ($grid-gutter-width);
		box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); // https://tailwindcss.com/docs/box-shadow/
	}

	@media (min-width: $bp-xl) {
		width: 60vw;
	}
}

// Header
header {
	display: flex;
	flex-direction: column;
	text-align: center;
}

h1.title {
	margin: 0 0 ($base-line-height * 2) 0;
	padding-bottom: ($base-line-height * 2);
	border-bottom: 1px dotted $gray175;
	text-transform: uppercase;
	font-size: 5rem;
	font-weight: $fontbold;
	line-height: ($line-height * 2);
	position: relative;
	order: 2;

	@media (max-width: ($bp-sm - 1px)) {
		display: flex;
		flex-direction: column;
	}

	i {
		display: inline-block;
		vertical-align: top;
		width: 6.5rem;
		height: 6.5rem;
		background: transparent url("../images/life-ring.svg") no-repeat center center;
		background-size: contain;
		text-indent: 10rem;
		overflow: hidden;
	}
}

.title__top,
.title__mid,
.title__bot {

}

h2 {
	font-size: $font-size;
	font-weight: $fontnormal;
	color: $gray125;
	text-transform: lowercase;
}

.no-js__message {
	text-align: center;
	background-color: $brand-primary;
	color: #ffffff;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: ($base-line-height);
}

// Sections
.section {
	margin-bottom: ($base-line-height * 2);
}

.section--quote {
	background-color: $gray200;
	padding: ($base-line-height) ($grid-gutter-width);
	font-size: 70%;
	line-height: ($line-height * .75);
	text-align: center;
	color: $gray125
}

// Institutions
.institutions {
	display: flex;
	flex-direction: column;

	@media (min-width: $bp-lg) {
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: (-$grid-gutter-width / 2);
		margin-right: (-$grid-gutter-width / 2);
	}
}

.institution__item {
	padding: ($base-line-height / 2) ($grid-gutter-width / 2);
	margin-bottom: ($base-line-height);
	border: 1px solid $gray200;
	border-radius: 4px;
	text-decoration: none;
	overflow: hidden;
	transition: background-color 400ms $easeOutQuart, border-color 800ms $easeOutQuart;
	background-color: $gray200;

	&:hover {
		background-color: #ffffff;
		color: darken($brand-primary, 10%);
		border-color: darken($gray200, 10%);
	}

	@media (min-width: $bp-lg) {
		margin: 0 ($grid-gutter-width / 2) ($base-line-height) ($grid-gutter-width / 2);
		width: calc(50% - #{$grid-gutter-width});
		flex: 0 0 auto;
	}
}

.institution__title {
	display: block;
	font-size: $font-size;
	text-transform: uppercase;
	font-weight: $fontbold;
}

.institution__url {
	display: block;
	font-size: ($font-size * .75);
	margin-bottom: ($base-line-height / 2);
	line-height: ($line-height * .75);
	color: $gray150;
	word-break: break-all;
}

.institution__desc {

}

// Location
.loc {
	display: inline-block;
	font-size: ($font-size * .5);
	background-color: $brand-secondary;
	color: #ffffff;
	padding: 0 ($grid-gutter-width / 3) 0 ($grid-gutter-width * .75);
	border-radius: 3px;
	position: relative;
	text-transform: uppercase;
	line-height: ($line-height * .75);

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: .5rem;
		top: 50%;
		transform: translateY(-50%);
		//background-color: #ffffff;
		background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTI1Ni4wOCA1NWM4NC44NyAwIDE1My44MSA2OC45NCAxNTMuODEgMTUzLjk2IDAgNzcuMDYtODcuMDIgMTk1LjAzLTE1My4yIDI0Ni4wNC04NS4zMy02OS4yNC0xNTQuNTgtMTY3Ljc1LTE1NC41OC0yNDYuMDRDMTAyLjExIDEyMy45NCAxNzEuMDUgNTUgMjU2LjA4IDU1em03NC43OSAxNTAuOGE3NC44NyA3NC44NyAwIDEwLTE0OS43NC4wMSA3NC44NyA3NC44NyAwIDAwMTQ5Ljc0LS4wMXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
		background-repeat: no-repeat;
		background-size: cover;
		width: 1.3rem;
		height: 1.3rem;
		//border-radius: 50%;
	}
}

.links {
	word-break: break-all;
}

// Share
$fbblue: 						#3b5998;
$twblue: 						#00b0ed;
$redred: 						#fe4500;

.section--share {
	text-align: center;
	border-top: 2px solid $gray200;
	padding-top: ($base-line-height);
}

.button {
	display: inline-block;
	border: 0;
	color: #ffffff;
	font-weight: $fontbold;
	text-transform: uppercase;
	width: 3rem;
	height: 3rem;
	padding: 0;
	margin: 0 ($grid-gutter-width / 3);
	cursor: pointer;
	border-radius: 4px;

	&:hover {
		opacity: .8;
	}


	&--facebook {
		background-color: $fbblue;
	}

	&--twitter {
		background-color: $twblue;
	}

	&--reddit {
		background-color: $redred;
	}
}

// Footer
footer {
	padding-top: ($base-line-height);
	border-top: 1px dotted $gray175;
	font-size: 1.2rem;
	line-height: ($line-height * .75);
	text-align: center;
	color: $gray150;

	a {
		color: $gray125;
	}
}